# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [2]:
#Import the bestsellers.csv dataset and use it to answer the following questions:
import pandas as pd
bestsellers = pd.read_csv("data/bestsellers.csv")

In [3]:
#Find the lowest User Rating in the DF
#ans = 3.3
bestsellers.min()

Name           10-Day Green Smoothie Cleanse
Author                      Abraham Verghese
User Rating                              3.3
Reviews                                   37
Price                                      0
Year                                    2009
Genre                                Fiction
dtype: object

In [4]:
#Find the highest Price in the DF
#ans = 105.00
bestsellers.max()

Name           You Are a Badass: How to Stop Doubting Your Gr...
Author                                              Zhi Gang Sha
User Rating                                                  4.9
Reviews                                                    87841
Price                                                        105
Year                                                        2019
Genre                                                Non Fiction
dtype: object

In [5]:
#What is the average User Rating?
#ans = 4.618364
bestsellers.mean()

/var/folders/bk/cftv1h856q5ccl8162j0_7kc0000gn/T/ipykernel_87859/3575312049.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  bestsellers.mean()

User Rating        4.618364
Reviews        11953.281818
Price             13.100000
Year            2014.000000
dtype: float64

In [22]:
#What the average User Rating of the first 5 rows?
bestsellers.head().mean()
#ans=  4.7

/var/folders/bk/cftv1h856q5ccl8162j0_7kc0000gn/T/ipykernel_87859/2740366255.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  bestsellers.head().mean()

User Rating        4.7
Reviews        13494.0
Price             12.6
Year            2016.2
dtype: float64

In [10]:
#What User Review score appeared the most? 
#Ans: 4.8
bestsellers.mode()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Publication Manual of the American Psychologic...,Jeff Kinney,4.8,8580.0,8.0,2009,Non Fiction
1,NaN,NaN,NaN,NaN,NaN,2010,NaN
2,NaN,NaN,NaN,NaN,NaN,2011,NaN
3,NaN,NaN,NaN,NaN,NaN,2012,NaN
4,NaN,NaN,NaN,NaN,NaN,2013,NaN
5,NaN,NaN,NaN,NaN,NaN,2014,NaN
6,NaN,NaN,NaN,NaN,NaN,2015,NaN
7,NaN,NaN,NaN,NaN,NaN,2016,NaN
8,NaN,NaN,NaN,NaN,NaN,2017,NaN
9,NaN,NaN,NaN,NaN,NaN,2018,NaN
10,NaN,NaN,NaN,NaN,NaN,2019,NaN

In [13]:
#What is the total (sum) of all the values in the Reviews column?
#ans:6574305
bestsellers.sum()

Name           10-Day Green Smoothie Cleanse11/22/63: A Novel...
Author         JJ SmithStephen KingJordan B. PetersonGeorge O...
User Rating                                               2540.1
Reviews                                                  6574305
Price                                                       7205
Year                                                     1107700
Genre          Non FictionFictionNon FictionFictionNon Fictio...
dtype: object

In [15]:
#How many different authors are featured in the dataset?
#ans: 248
bestsellers.describe(include=["object"])

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310

In [21]:
#Which author wrote the most number of books on the list? How many did they write
#ans = Jeff Kinney with 12 books
bestsellers.describe(include=["object"])

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310